@model TrailerTicketSystem.Dtos.LoginDto
@{
    ViewData["Title"] = "Sign In";
    var returnUrl = ViewData["ReturnUrl"] as string;
}

<h1>Sign In</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post" asp-route-returnUrl="@returnUrl">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
